.console_log{
    text-align: left;
    height: 120px;
    overflow: auto;
    color: lime;
    background: black;
    font-size: small;
    padding-left: 10px;
    white-space: pre-wrap;
    margin: 10px 0 10px 0;
}

.pvsio, .sapere {
    margin-top: 10px;
    margin-bottom: 10px;
    border: steelblue;
    border-style: solid;
}

.dbg {
    background-color: black;
    overflow: auto;
}

body{
    font-family: 'Andale Mono', AndaleMono, monospace;
}

#sapere_controls{
    margin: 10px 0 10px 0;
}

#sapere_dbg{
    margin: 10px 0 10px 0;
}


/* Added CSS */
div.version {
    text-align: center;
}

div.dashboard-container {
    /*Moving Game window up*/
    margin-top: 2%;
}

/* Current shift styling */
#current-shift {
    padding: 1px 7px;
    border: 2px solid white;
}


div#clock-div, div#env-temp-div {
    font-size: 20px;
}


/* Control panel stuff */
div#control-panel-container {
    background-color: black;
    color: white;
    padding: 0;
}

div#odometer-container {
    padding: 10px 0;
}


div.dash-top-container {
    border-bottom: 2px solid white;
}

div.dash-bottom-container, div.dash-central-container {
    padding: 20px 0;
}

/* Global helper classes */
.font-xl {
    font-weight: bold;
    font-size: 25px;
    color: white;
}

#game-window {
  border: 5px solid black;
  height: 600px;
}

#instructions {
  margin-left: -160px;
  margin-top: 0px;
}

button.launch {
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    height: 40px;
    padding: 5px 15px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    margin-right: 10px;
}
    
button.launch:hover {
cursor: pointer;
background-color: rgb(76, 175, 117);
}

button:active {
outline: none;
border: none;
}

button:focus {outline:0;}
